# 01. Import libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create path shortcut
path = r'/Users/mindydong/Documents/School/Data Analyst/Achievement 4/04-2023 Instacart Basket Analysis'

# Import products.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

# Import orders.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

# 02. Find missing values in df_prods

In [3]:
# Check for missing values in df_prods
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [4]:
# Create dataframe for null values
df_nan = df_prods [df_prods ['product_name'].isnull() == True]

In [5]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

# 03. Remove missing values from df_prods

In [6]:
# Remove missing values from df_prods
df_prods_clean = df_prods [df_prods ['product_name'].isnull() == False]

In [7]:
df_prods_clean.shape

(49677, 5)

# 04. Find duplicates in df_prods

In [8]:
# find duplicates in df_prods
df_dups = df_prods_clean [df_prods_clean.duplicated()]
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

# 05. Remove duplicates from df_prods

In [9]:
# create new df with duplicates removed
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()
df_prods_clean_no_dups.shape

(49672, 5)

In [10]:
# export clean df_prods to csv
df_prods_clean_no_dups.to_csv(os.path.join (path, '02 Data', 'Prepared Data', 'products_checked.csv'))

# Task 4.5

# Question 1

In [ ]:
#check descriptive stats for df_prods 
df_prods.describe()

Max price of 99999 looks like an erroneous value.

# Question 2

In [ ]:
# check descriptive stats for df_ords
df_ords.describe()

There is an unamed column that has similar values to the order_id column, that appears to be a duplicate index column. The minimum for days_since_last_order seems questionable, but this may be due to customers no longer placing orders. Maximum value for order order number should be greater than one if there are multiple orders, unless customers are only placing one order.

# Question 3

In [ ]:
# check for mixed-type data in df_ords
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

There are no mixed-type values in df_ords

# Question 4

In [ ]:
# check for missing values in df_ords
df_ords.isnull().sum()

There are missing values in the days_since_last_order column, which could represent new customers that have not placed an order yet. Best to get more details.

In [ ]:
#create dataframe for missing values in df_ords
df_nan_ords = df_ords [df_ords ['days_since_last_order'].isnull() == True]
df_nan_ords

It looks like the null values are tied to users that have only placed one order. This information is valuable and can be used to address why these customers are not placing orders. I will leave the null values.

# Question 5

In [ ]:
# check for duplicates in df_ords
df_dups_ords = df_ords[df_ords.duplicated()]

In [ ]:
df_dups_ords.size

No duplicates found. Therefore, no action taken.

In [11]:
#export df_prods and df_ords to csv
df_ords.to_csv(os.path.join(path,'02 Data', 'Prepared Data', 'orders_checked.csv'))
df_prods.to_csv(os.path.join(path,'02 Data', 'Prepared Data', 'products_checked.csv'))